.filter
  position fixed
  right 0
  top 95px
  z-index: 3
  background #fff
  width: 300px
  padding: 20px 10px
  box-shadow 0 1px 5px rgba(#000, .5)
  &-list
    padding 0
    margin 0
    list-style none
  &__item
    display: block
    padding 5px 0
    &-text
      font-size 16px
  &__block_value
    &--inline
      display inline-block
.item--line
  display inline-block
  col(1/2)
  input
    width 100%
  em
    display: block
