.title-section
  font-family geometriaExBold, sans-serif
  font-size rem(24px)
  letter-spacing letter(240, 24)px
  color: cWhite
  margin-left 97px
  position relative
  line-height 49px
  padding-top 90px
  position relative
  &--blue
    color cBlue
  &--nopadd
    padding-top 0
.number_opacity
  color rgba(cWhite, 10%)
.title
  font-family Roboto
  font-weight 500
  font-size 20px
  line-height 30px
  color #000
  text-align left