.bg_header.section.rel#scene_1
        .container_lines
            img(src="img/lines_img.png" class="lines" style="height: 988px;")
        .container-1028.container-hilde
        .container.full-height.rel#headerHeight
            a
                img(src="img/header-img.png").header-img.layer.wow.fadeIn(data-depth=".2" data-wow-duration="1s" class="header-img layer wow fadeIn")
            .name-company.wow.fadeInLeft(data-wow-duration="1s" data-wow-delay="1s") KVANTA
            a(href="catalog.html").btn.btn-transprent.wow.fadeInUp.btn-header(data-wow-duration="1s" data-wow-delay="1s") СМОТРЕТЬ ПРОДУКЦИЮ
            .btn_slide-down.wow.fadeInUp(data-wow-duration="1s" data-wow-delay="1s") ИМПУЛЬСНЫЕ ИСТОЧНИКИ ПИТАНИЯ
            .number-slide.wow.fadeIn(data-wow-duration="1s" data-wow-delay="1s") 01
            +b.description-company.wow.fadeInRight(data-wow-duration="1s" data-wow-delay="1s")
                p ОРИГИНАЛЬНЫЕ<br>ИМПУЛЬСНЫЕ ИСТОЧНИКИ ПИТАНИЯ<br> И ЭЛЕКТРОННЫЕ КОМПОНЕНТЫ
                img(src="img/mean-well.png")
                img(src="img/bel-power.png")







