meta(charset="UTF-8")
title Document
link(rel="stylesheet", href="css/index.css")
link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900&subset=latin,cyrillic")
meta(name="viewport" content="width=device-width")
meta(name="description" content="")
meta(name="Keywords" content="")
//- <link href="/fonts/font-awesome/css/all.css" rel="stylesheet">
<link href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" rel="stylesheet">
