+b('nav').nav-fixed
	.burger
		span
		span
		span
	.logo
		a(href="/")
			img(src="img/logo.svg")
	+b.right
		+b.search
			form.search
				button(type="submit").btn-search 
					img(src="img/search.svg", alt="")
				input.search-item
		.icon-busket
			img(src="img/shopping-bag.svg", alt="")

