.slider.swiper-container
        .swiper-wrapper
          .swiper-slide
            .wrapper.slider-goods
              .article-slide
                .slider-title Планиерование<br>Чертеж всего участка
                p.
                  Каждый проект сопровождается документацией и планом палива
              
              .img
                img(src="img/lawn-irrigation-2456123_1920.jpg", alt="")
              
          .swiper-slide
            .wrapper.slider-goods
              .article-slide
                .slider-title Управление системами удаленно
                p Если вы хотите управлять удаленно басейном, фонтаном, прудом, мы реализуем ваши подтребности
              .img
                img(src="img/wifi.jpg", alt="")
              
          .swiper-slide
            .wrapper.slider-goods
              .article-slide
                .slider-title Строительство бассейнов
                p Строительство бассейнов проходят все этапы соглосования, мы читываем все мелочи при проектрировании 
              
              .img
                img(src="img/swim_pool.jpg", alt="")
              
        .swiper-pagination