include ../bemto/bemto.jade

doctype html
html
	include blocks/meta.jade
	body
		include blocks/svg.jade
		include blocks/nav.jade
		#content-zoom
			section.cart-goods
				+b.goods.wrapper
					+e.param
						h1.title__h1-section Название товара
						+e.price Цена: 5 000 руб.
						+e.description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc eu placerat elit. Quisque at elit consectetur diam dapibus varius. Mauris rutrum dapibus ligula sit amet pellentesque.
						span Характеристики: 
						+e.parametrs
							+e.parametrs-item максимальная емкость 13 mm (1/2"): 50 м / 164,04 Футы
							+e.parametrs-item максимальная емкость 13 mm (1/2"): 50 м / 164,04 Футы
							+e.parametrs-item максимальная емкость 13 mm (1/2"): 50 м / 164,04 Футы
							+e.parametrs-item максимальная емкость 13 mm (1/2"): 50 м / 164,04 Футы
						.btn.btn-buy.btn-buy--not-animate Купить данный товар
					+e.img
						.slide-card.swiper-container
							.swiper-wrapper
								.swiper-slide(style="background-image:url(img/card1.jpg)")
								.swiper-slide(style="background-image:url(img/card1.jpg)")
								.swiper-slide(style="background-image:url(img/card1.jpg)")
								.swiper-slide(style="background-image:url(img/card1.jpg)")
								.swiper-slide(style="background-image:url(img/card1.jpg)")
								.swiper-slide(style="background-image:url(img/card1.jpg)")

							.swiper-pagination
							.swiper-button-prev
								svg.arrow-right(width="50" height="20")
									use(x="0" y="0" xlink:href="#slideRight" fill="#000")
							.swiper-button-next
								svg.arrow-right(width="50" height="20")
									use(x="0" y="0" xlink:href="#slideRight" fill="#000")
						.swiper-container.gallery-thumbs
							.swiper-wrapper
								.swiper-slide(style="background-image:url(img/cat1carusel.jpg)")
								.swiper-slide(style="background-image:url(img/cat1carusel.jpg)")
								.swiper-slide(style="background-image:url(img/cat1carusel.jpg)")
								.swiper-slide(style="background-image:url(img/cat1carusel.jpg)")
								.swiper-slide(style="background-image:url(img/cat1carusel.jpg)")
								.swiper-slide(style="background-image:url(img/cat1carusel.jpg)")


			footer
				.wrapper
					.col-3
						+b('ul').footer-list
							+e('li').item
								a(href="") О НАС
							+e('li').item
								a(href="") ДОСТАВКА ТОВАРОВ
							+e('li').item
								a(href="") КАК КУПИТЬ?
							+e('li').item
								a(href="") ВОЗВРАТ ТОВАРОВ

					.col-4
						span.mini-title  ПРИНИМАЕМ
						span.icon.icon-walet.pay оплату наличными
						span.icon.icon-walet.pay оплату банковскими картами
					.col-3
						span.mini-title  КОНТАКТЫ
						a.phone(href="tel:123-45-67") 8 812 123-45-67
						a.phone(href="tel:123-45-67") 8 812 123-45-67
		.panel__model(data-panel="card")
			+b.model-list
				+e.model-item ACUA 5 55
				+e.model-item ACUA 5 56
				+e.model-item ACUA 5 57
				+e.model-item.--current ACUA 5 58
				+e.model-item ACUA 5 59
				+e.model-item ACUA 5 10
				+e.model-item ACUA 5 25
				+e.model-item ACUA 5 23
				+e.model-item ACUA 5 53
				+e.model-item ACUA 5 26
				+e.model-item ACUA 5 24
				+e.model-item ACUA 5 26
				+e.model-item ACUA 5 25
				+e.model-item ACUA 5 25
		.overlay
		include blocks/footer.jade  