$svg-common 
	background url("../img/sprite.svg") no-repeat

$arrow
	@extend $svg-common
	background-position 0 0
	width 26.9px
	height 13.2px

$clock
	@extend $svg-common
	background-position 0 0.451714903365276%
	width 48.7px
	height 48.7px

$download
	@extend $svg-common
	background-position 0 2.028144202984398%
	width 41.712px
	height 41.712px

$email
	@extend $svg-common
	background-position 0 3.3682994899432197%
	width 48.5px
	height 30.7px

$ico_advantages_1
	@extend $svg-common
	background-position 0 4.598944947923712%
	width 266.7px
	height 190.8px

$ico_advantages_2
	@extend $svg-common
	background-position 0 11.057757338022455%
	width 266.7px
	height 190.8px

$ico_advantages_3
	@extend $svg-common
	background-position 0 17.515977411828356%
	width 250.1px
	height 190.7px

$ico_advantages_4
	@extend $svg-common
	background-position 0 23.984303643313826%
	width 242.8px
	height 191.9px

$line_left
	@extend $svg-common
	background-position 0 38.64299193686739%
	width 856.3px
	height 816.4px

$line_right
	@extend $svg-common
	background-position 0 55.94268967762944%
	width 941.3px
	height 77px

$main_page_1screen_left
	@extend $svg-common
	background-position 0 73.84703994734028%
	width 929px
	height 717.3px

$main_page_1screen_right
	@extend $svg-common
	background-position 0 85.45003230303648%
	width 929px
	height 207.1px

$num_1_scheme
	@extend $svg-common
	background-position 0 87.45259368772899%
	width 20.1px
	height 36.6px

$num_2_scheme
	@extend $svg-common
	background-position 0 88.64746721522243%
	width 25.5px
	height 36.8px

$num_3_scheme
	@extend $svg-common
	background-position 0 89.83671895088712%
	width 25px
	height 36.8px

$phone
	@extend $svg-common
	background-position 0 91.13728519019115%
	width 50.7px
	height 40.6px

$pin
	@extend $svg-common
	background-position 0 92.7013422818792%
	width 34.8px
	height 48.8px

$square_bracket
	@extend $svg-common
	background-position 0 96.2513999604717%
	width 15.5px
	height 112.2px

$square_bracket_arrow
	@extend $svg-common
	background-position 0 99.97364780288557%
	width 24.9px
	height 112.2px

