/*
Stylus variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon_home_width;
}

The large array-like variables contain all information about a single icon
$icon_home = x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet = width height image $spritesheet_sprites;
*/
$abc_active_name = 'abc-active';
$abc_active_x = 220px;
$abc_active_y = 73px;
$abc_active_offset_x = -220px;
$abc_active_offset_y = -73px;
$abc_active_width = 10px;
$abc_active_height = 7px;
$abc_active_total_width = 230px;
$abc_active_total_height = 182px;
$abc_active_image = '../img/sprite.png';
$abc_active = 220px 73px -220px -73px 10px 7px 230px 182px '../img/sprite.png' 'abc-active';
$arrow_add_goods_name = 'arrow-add-goods';
$arrow_add_goods_x = 220px;
$arrow_add_goods_y = 82px;
$arrow_add_goods_offset_x = -220px;
$arrow_add_goods_offset_y = -82px;
$arrow_add_goods_width = 7px;
$arrow_add_goods_height = 4px;
$arrow_add_goods_total_width = 230px;
$arrow_add_goods_total_height = 182px;
$arrow_add_goods_image = '../img/sprite.png';
$arrow_add_goods = 220px 82px -220px -82px 7px 4px 230px 182px '../img/sprite.png' 'arrow-add-goods';
$arrow_pag_next_name = 'arrow-pag-next';
$arrow_pag_next_x = 221px;
$arrow_pag_next_y = 103px;
$arrow_pag_next_offset_x = -221px;
$arrow_pag_next_offset_y = -103px;
$arrow_pag_next_width = 4px;
$arrow_pag_next_height = 7px;
$arrow_pag_next_total_width = 230px;
$arrow_pag_next_total_height = 182px;
$arrow_pag_next_image = '../img/sprite.png';
$arrow_pag_next = 221px 103px -221px -103px 4px 7px 230px 182px '../img/sprite.png' 'arrow-pag-next';
$arrow_pag_prev_name = 'arrow-pag-prev';
$arrow_pag_prev_x = 221px;
$arrow_pag_prev_y = 94px;
$arrow_pag_prev_offset_x = -221px;
$arrow_pag_prev_offset_y = -94px;
$arrow_pag_prev_width = 4px;
$arrow_pag_prev_height = 7px;
$arrow_pag_prev_total_width = 230px;
$arrow_pag_prev_total_height = 182px;
$arrow_pag_prev_image = '../img/sprite.png';
$arrow_pag_prev = 221px 94px -221px -94px 4px 7px 230px 182px '../img/sprite.png' 'arrow-pag-prev';
$arrow_read_name = 'arrow-read';
$arrow_read_x = 218px;
$arrow_read_y = 130px;
$arrow_read_offset_x = -218px;
$arrow_read_offset_y = -130px;
$arrow_read_width = 11px;
$arrow_read_height = 7px;
$arrow_read_total_width = 230px;
$arrow_read_total_height = 182px;
$arrow_read_image = '../img/sprite.png';
$arrow_read = 218px 130px -218px -130px 11px 7px 230px 182px '../img/sprite.png' 'arrow-read';
$arrow_remove_goods_name = 'arrow-remove-goods';
$arrow_remove_goods_x = 220px;
$arrow_remove_goods_y = 88px;
$arrow_remove_goods_offset_x = -220px;
$arrow_remove_goods_offset_y = -88px;
$arrow_remove_goods_width = 7px;
$arrow_remove_goods_height = 4px;
$arrow_remove_goods_total_width = 230px;
$arrow_remove_goods_total_height = 182px;
$arrow_remove_goods_image = '../img/sprite.png';
$arrow_remove_goods = 220px 88px -220px -88px 7px 4px 230px 182px '../img/sprite.png' 'arrow-remove-goods';
$chip_fuxia_name = 'chip-fuxia';
$chip_fuxia_x = 112px;
$chip_fuxia_y = 52px;
$chip_fuxia_offset_x = -112px;
$chip_fuxia_offset_y = -52px;
$chip_fuxia_width = 50px;
$chip_fuxia_height = 50px;
$chip_fuxia_total_width = 230px;
$chip_fuxia_total_height = 182px;
$chip_fuxia_image = '../img/sprite.png';
$chip_fuxia = 112px 52px -112px -52px 50px 50px 230px 182px '../img/sprite.png' 'chip-fuxia';
$chip_name = 'chip';
$chip_x = 0px;
$chip_y = 104px;
$chip_offset_x = 0px;
$chip_offset_y = -104px;
$chip_width = 50px;
$chip_height = 50px;
$chip_total_width = 230px;
$chip_total_height = 182px;
$chip_image = '../img/sprite.png';
$chip = 0px 104px 0px -104px 50px 50px 230px 182px '../img/sprite.png' 'chip';
$clock_name = 'clock';
$clock_x = 199px;
$clock_y = 73px;
$clock_offset_x = -199px;
$clock_offset_y = -73px;
$clock_width = 19px;
$clock_height = 19px;
$clock_total_width = 230px;
$clock_total_height = 182px;
$clock_image = '../img/sprite.png';
$clock = 199px 73px -199px -73px 19px 19px 230px 182px '../img/sprite.png' 'clock';
$comp_fuxia_name = 'comp-fuxia';
$comp_fuxia_x = 52px;
$comp_fuxia_y = 104px;
$comp_fuxia_offset_x = -52px;
$comp_fuxia_offset_y = -104px;
$comp_fuxia_width = 49px;
$comp_fuxia_height = 50px;
$comp_fuxia_total_width = 230px;
$comp_fuxia_total_height = 182px;
$comp_fuxia_image = '../img/sprite.png';
$comp_fuxia = 52px 104px -52px -104px 49px 50px 230px 182px '../img/sprite.png' 'comp-fuxia';
$comp_name = 'comp';
$comp_x = 103px;
$comp_y = 104px;
$comp_offset_x = -103px;
$comp_offset_y = -104px;
$comp_width = 49px;
$comp_height = 50px;
$comp_total_width = 230px;
$comp_total_height = 182px;
$comp_image = '../img/sprite.png';
$comp = 103px 104px -103px -104px 49px 50px 230px 182px '../img/sprite.png' 'comp';
$compass_fuxia_name = 'compass-fuxia';
$compass_fuxia_x = 164px;
$compass_fuxia_y = 53px;
$compass_fuxia_offset_x = -164px;
$compass_fuxia_offset_y = -53px;
$compass_fuxia_width = 33px;
$compass_fuxia_height = 51px;
$compass_fuxia_total_width = 230px;
$compass_fuxia_total_height = 182px;
$compass_fuxia_image = '../img/sprite.png';
$compass_fuxia = 164px 53px -164px -53px 33px 51px 230px 182px '../img/sprite.png' 'compass-fuxia';
$compass_name = 'compass';
$compass_x = 164px;
$compass_y = 0px;
$compass_offset_x = -164px;
$compass_offset_y = 0px;
$compass_width = 33px;
$compass_height = 51px;
$compass_total_width = 230px;
$compass_total_height = 182px;
$compass_image = '../img/sprite.png';
$compass = 164px 0px -164px 0px 33px 51px 230px 182px '../img/sprite.png' 'compass';
$element_fuxia_name = 'element-fuxia';
$element_fuxia_x = 0px;
$element_fuxia_y = 52px;
$element_fuxia_offset_x = 0px;
$element_fuxia_offset_y = -52px;
$element_fuxia_width = 54px;
$element_fuxia_height = 50px;
$element_fuxia_total_width = 230px;
$element_fuxia_total_height = 182px;
$element_fuxia_image = '../img/sprite.png';
$element_fuxia = 0px 52px 0px -52px 54px 50px 230px 182px '../img/sprite.png' 'element-fuxia';
$element_name = 'element';
$element_x = 56px;
$element_y = 0px;
$element_offset_x = -56px;
$element_offset_y = 0px;
$element_width = 54px;
$element_height = 50px;
$element_total_width = 230px;
$element_total_height = 182px;
$element_image = '../img/sprite.png';
$element = 56px 0px -56px 0px 54px 50px 230px 182px '../img/sprite.png' 'element';
$garant_name = 'garant';
$garant_x = 56px;
$garant_y = 52px;
$garant_offset_x = -56px;
$garant_offset_y = -52px;
$garant_width = 50px;
$garant_height = 50px;
$garant_total_width = 230px;
$garant_total_height = 182px;
$garant_image = '../img/sprite.png';
$garant = 56px 52px -56px -52px 50px 50px 230px 182px '../img/sprite.png' 'garant';
$header_phone_name = 'header-phone';
$header_phone_x = 164px;
$header_phone_y = 125px;
$header_phone_offset_x = -164px;
$header_phone_offset_y = -125px;
$header_phone_width = 11px;
$header_phone_height = 20px;
$header_phone_total_width = 230px;
$header_phone_total_height = 182px;
$header_phone_image = '../img/sprite.png';
$header_phone = 164px 125px -164px -125px 11px 20px 230px 182px '../img/sprite.png' 'header-phone';
$icon_cart_white_name = 'icon-cart-white';
$icon_cart_white_x = 199px;
$icon_cart_white_y = 112px;
$icon_cart_white_offset_x = -199px;
$icon_cart_white_offset_y = -112px;
$icon_cart_white_width = 20px;
$icon_cart_white_height = 16px;
$icon_cart_white_total_width = 230px;
$icon_cart_white_total_height = 182px;
$icon_cart_white_image = '../img/sprite.png';
$icon_cart_white = 199px 112px -199px -112px 20px 16px 230px 182px '../img/sprite.png' 'icon-cart-white';
$icon_cart_name = 'icon-cart';
$icon_cart_x = 199px;
$icon_cart_y = 94px;
$icon_cart_offset_x = -199px;
$icon_cart_offset_y = -94px;
$icon_cart_width = 20px;
$icon_cart_height = 16px;
$icon_cart_total_width = 230px;
$icon_cart_total_height = 182px;
$icon_cart_image = '../img/sprite.png';
$icon_cart = 199px 94px -199px -94px 20px 16px 230px 182px '../img/sprite.png' 'icon-cart';
$icon_minus_name = 'icon-minus';
$icon_minus_x = 0px;
$icon_minus_y = 169px;
$icon_minus_offset_x = 0px;
$icon_minus_offset_y = -169px;
$icon_minus_width = 13px;
$icon_minus_height = 13px;
$icon_minus_total_width = 230px;
$icon_minus_total_height = 182px;
$icon_minus_image = '../img/sprite.png';
$icon_minus = 0px 169px 0px -169px 13px 13px 230px 182px '../img/sprite.png' 'icon-minus';
$icon_plus_name = 'icon-plus';
$icon_plus_x = 183px;
$icon_plus_y = 106px;
$icon_plus_offset_x = -183px;
$icon_plus_offset_y = -106px;
$icon_plus_width = 14px;
$icon_plus_height = 14px;
$icon_plus_total_width = 230px;
$icon_plus_total_height = 182px;
$icon_plus_image = '../img/sprite.png';
$icon_plus = 183px 106px -183px -106px 14px 14px 230px 182px '../img/sprite.png' 'icon-plus';
$icon_search_name = 'icon-search';
$icon_search_x = 199px;
$icon_search_y = 51px;
$icon_search_offset_x = -199px;
$icon_search_offset_y = -51px;
$icon_search_width = 20px;
$icon_search_height = 20px;
$icon_search_total_width = 230px;
$icon_search_total_height = 182px;
$icon_search_image = '../img/sprite.png';
$icon_search = 199px 51px -199px -51px 20px 20px 230px 182px '../img/sprite.png' 'icon-search';
$mail_black_name = 'mail-black';
$mail_black_x = 177px;
$mail_black_y = 125px;
$mail_black_offset_x = -177px;
$mail_black_offset_y = -125px;
$mail_black_width = 17px;
$mail_black_height = 11px;
$mail_black_total_width = 230px;
$mail_black_total_height = 182px;
$mail_black_image = '../img/sprite.png';
$mail_black = 177px 125px -177px -125px 17px 11px 230px 182px '../img/sprite.png' 'mail-black';
$mail_name = 'mail';
$mail_x = 0px;
$mail_y = 156px;
$mail_offset_x = 0px;
$mail_offset_y = -156px;
$mail_width = 17px;
$mail_height = 11px;
$mail_total_width = 230px;
$mail_total_height = 182px;
$mail_image = '../img/sprite.png';
$mail = 0px 156px 0px -156px 17px 11px 230px 182px '../img/sprite.png' 'mail';
$ok_name = 'ok';
$ok_x = 0px;
$ok_y = 0px;
$ok_offset_x = 0px;
$ok_offset_y = 0px;
$ok_width = 54px;
$ok_height = 50px;
$ok_total_width = 230px;
$ok_total_height = 182px;
$ok_image = '../img/sprite.png';
$ok = 0px 0px 0px 0px 54px 50px 230px 182px '../img/sprite.png' 'ok';
$phone_black_name = 'phone-black';
$phone_black_x = 164px;
$phone_black_y = 106px;
$phone_black_offset_x = -164px;
$phone_black_offset_y = -106px;
$phone_black_width = 17px;
$phone_black_height = 17px;
$phone_black_total_width = 230px;
$phone_black_total_height = 182px;
$phone_black_image = '../img/sprite.png';
$phone_black = 164px 106px -164px -106px 17px 17px 230px 182px '../img/sprite.png' 'phone-black';
$phone_name = 'phone';
$phone_x = 199px;
$phone_y = 130px;
$phone_offset_x = -199px;
$phone_offset_y = -130px;
$phone_width = 17px;
$phone_height = 17px;
$phone_total_width = 230px;
$phone_total_height = 182px;
$phone_image = '../img/sprite.png';
$phone = 199px 130px -199px -130px 17px 17px 230px 182px '../img/sprite.png' 'phone';
$procent_name = 'procent';
$procent_x = 112px;
$procent_y = 0px;
$procent_offset_x = -112px;
$procent_offset_y = 0px;
$procent_width = 50px;
$procent_height = 50px;
$procent_total_width = 230px;
$procent_total_height = 182px;
$procent_image = '../img/sprite.png';
$procent = 112px 0px -112px 0px 50px 50px 230px 182px '../img/sprite.png' 'procent';
$rinda_name = 'rinda';
$rinda_x = 199px;
$rinda_y = 0px;
$rinda_offset_x = -199px;
$rinda_offset_y = 0px;
$rinda_width = 31px;
$rinda_height = 49px;
$rinda_total_width = 230px;
$rinda_total_height = 182px;
$rinda_image = '../img/sprite.png';
$rinda = 199px 0px -199px 0px 31px 49px 230px 182px '../img/sprite.png' 'rinda';
$voskl_name = 'voskl';
$voskl_x = 221px;
$voskl_y = 51px;
$voskl_offset_x = -221px;
$voskl_offset_y = -51px;
$voskl_width = 6px;
$voskl_height = 16px;
$voskl_total_width = 230px;
$voskl_total_height = 182px;
$voskl_image = '../img/sprite.png';
$voskl = 221px 51px -221px -51px 6px 16px 230px 182px '../img/sprite.png' 'voskl';
$spritesheet_width = 230px;
$spritesheet_height = 182px;
$spritesheet_image = '../img/sprite.png';
$spritesheet_sprites = $abc_active $arrow_add_goods $arrow_pag_next $arrow_pag_prev $arrow_read $arrow_remove_goods $chip_fuxia $chip $clock $comp_fuxia $comp $compass_fuxia $compass $element_fuxia $element $garant $header_phone $icon_cart_white $icon_cart $icon_minus $icon_plus $icon_search $mail_black $mail $ok $phone_black $phone $procent $rinda $voskl;
$spritesheet = 230px 182px '../img/sprite.png' $spritesheet_sprites;

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  spriteWidth($icon_home)
}

.icon-email {
  sprite($icon_email)
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
spriteWidth($sprite) {
  width: $sprite[4];
}

spriteHeight($sprite) {
  height: $sprite[5];
}

spritePosition($sprite) {
  background-position: $sprite[2] $sprite[3];
}

spriteImage($sprite) {
  background-image: url($sprite[8]);
}

sprite($sprite) {
  spriteImage($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of Stylus

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

sprites($spritesheet_sprites);
*/
sprites($sprites) {
  for $sprite in $sprites {
    $sprite_name = $sprite[9];
    .{$sprite_name} {
      sprite($sprite);
    }
  }
}
