imgUrl = '../img/'


cWhite = #fff
cBlue = #233c5d
cBlueLine = #2f4664
cFuxia = #8ecfd2
bgMenu = #23426b
cTextBlue = #24436c
cCategory = #153965
catalogTGray = #777777
cNumberColor =#f2f2f2
cBgGoods = #f7f7f7
cBtnOrder = #203f68
cDarkBlue = #203f68